//Colors
$main-color: #56593d;
$border-color: #ffffef;
$link-hover: rgb(218, 128, 64);
$link-visited: rgb(103, 8, 62);

//Text
$main-font: "Roboto", sans-serif;
$main-font-size: 16px;
$font-size-h2: 50px;
$font-size-h3: 24px;
$main-font-weight: 400;

//breakpoints
$tablets: 768px;
$tablets-1024: 1024px;
$phones: 440px;
$phones-415: 415px;
$phones-375: 375px;
